.root {
    -fx-font-family: "Arial", sans-serif;
}

.sudoku-cell {
    -fx-font-size: 18px;
    -fx-font-weight: normal;
    -fx-background-color: white;
    /* Usamos padding para controlar o espaçamento interno da borda */
    -fx-border-color: lightgray;
    -fx-border-width: 0.5px;
}

.fixed-cell {
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: #e0e0e0; /* Um cinza claro para indicar que é fixo */
}

.cell-right-border {
    -fx-border-color: lightgray lightgray lightgray black; /* top, right, bottom, left */
    -fx-border-width: 0.5px 2px 0.5px 0.5px;
}

.cell-bottom-border {
    -fx-border-color: lightgray lightgray black lightgray; /* top, right, bottom, left */
    -fx-border-width: 0.5px 0.5px 2px 0.5px;
}

/* Células que estão no canto de um setor precisam de ambas as bordas */
.cell-right-border.cell-bottom-border {
    -fx-border-color: lightgray black black lightgray; /* top, right, bottom, left */
    -fx-border-width: 0.5px 2px 2px 0.5px;
}